.logo-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-icon {
  font-size: 1.2rem;
}

.navbar-link.btn {
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}

.navbar-link.btn:hover {
  border-radius: 1.5rem;
  background-color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.navbar-link.active {
  background-color: transparent;
  border: 2px solid var(--muted-color);
  color: var(--muted-color);
}
.navbar-link.active:hover {
  background-color: transparent;
  color: var(--secondary-text-color);
}

.home-navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 4rem;
  position: relative;
}

.hamburger-btn {
  display: none;
  position: absolute;
  right: 4rem;
  color: var(--secondary-text-color);
  z-index: 1000;
}

.navbar-items {
  margin: 5px;
}

.navbar-list .sidebar-items {
  display: none;
}

@media screen and (max-width: 64em) {
  .home-navbar {
    padding-inline: 1.5rem;
  }

  .navbar-link.hamburger-btn {
    display: block;
    right: 1.5rem;
    padding: 5px 8px;
  }

  .hamburger-btn span {
    font-size: 1.2rem;
  }

  .navbar-menu {
    position: fixed;
    inset: 0 0 0 60%;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .navbar-menu[data-hidden='false'] {
    transform: translateX(0);
  }

  .navbar-list {
    height: 100%;
    background-color: var(--form-input-color);
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5rem;
    font-size: 1rem;
  }

  .navbar-list .sidebar-items {
    display: block;
  }
}

@media only screen and (max-width: 58.75em) {
  .navbar-menu {
    left: 40%;
  }
}
