.logo-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-icon {
  font-size: 1.2rem;
}

.navbar-link.btn {
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}

.navbar-link.btn:hover {
  border-radius: 1.5rem;
  background-color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.navbar-link.active {
  background-color: transparent;
  border: 2px solid var(--muted-color);
  /* border: transparent; */

  color: var(--muted-color);
}
.navbar-link.active:hover {
  background-color: transparent;
  color: var(--secondary-text-color);
}

.home-navbar {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: space-between;
  padding: 8px 5rem;
}

@media only screen and (max-width: 58.75em) {
  .navbar-icon {
    font-size: 14px;
  }

  .home-navbar .logo-container {
    justify-self: start;
  }

  .home-navbar .navbar-menu {
    justify-self: end;
  }
}

@media only screen and (max-width: 34.06em) {
  .home-navbar {
    padding: 8px 2rem;
  }
}
