.card-description-section p {
  -webkit-line-clamp: 5;
  line-height: 1.5rem;
}

.card-description-section {
  padding: 0 1rem 0 0;
  height: max-content;
}
.note-card {
  height: 12rem;
  max-width: 50rem;
  width: 100%;
  margin-left: 0;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
}

.date-text {
  font-weight: 900;
  opacity: 0.6;
  margin-top: 4px;
}

.card-heading {
  justify-content: space-between;
}

.card-head,
.card-content,
.card-foot {
  color: var(--secondary-text-color);
}

.note-card .note-editing-option {
  align-self: flex-end;
}

.card-foot .btn-only-icon:hover {
  border-color: var(--secondary-text-color);
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}

.badge-category {
  background-color: var(--muted-color);
  color: var(--primary-text-color);
}

.badge-priority {
  background-color: var(--primary-text-color);
  border: 1.5px solid var(--muted-color);
}
