.notes-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 2rem;
}

.home-head {
  width: 100%;

  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}
