.notes-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 2rem;
}

.notes-info-section {
  justify-content: space-between;
  align-items: center;
}

.home-head {
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.main-page {
  position: relative;
  /* position: relative; */
  /* margin-top: 15rem; */
}
