.sidebar {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.5rem 4rem;
  height: 100vh;
}

.btn-link {
  color: var(--muted-color);
  border-width: 2px;
}

.btn-link:hover {
  text-decoration: none;
  border-width: 2px;
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  border-radius: 0.75rem;
}

.sidebar-items {
  margin: 6px 0;
}

.sidebar-items.active {
  background-color: var(--secondary-text-color);
  border-radius: 0.75rem;
  color: var(--primary-text-color);
  border-color: var(--secondary-text-color);
}

.sidebar-items .sidebar-link-text {
  margin-left: 8px;
}

@media only screen and (max-width: 64em) {
  .sidebar {
    display: none;
  }
}
