.add-button {
  order: -1;
  height: 12rem;
  width: 13rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: var(--secondary-text-color);
  font-size: 4rem;
  color: var(--primary-text-color);
}

.add-button:hover {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.08);
}
